{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "index.css" %}">
    </head>
    <body>
        <div>
            <h1>Platerak:</h1>
            <table border="1">
                {% for Pla in Plat %}  
                  <tr>
                  <td>{{ Pla.platera }}</td>
                  <td>{{ Pla.kopurua }}</td>
                  <td><a href="delete/{{ Pla.id }}">Delete</a></td>
                  <td><a href="update/{{ Pla.id }}">Aldatu</a></td>
                  </tr>
                {% endfor %}
                </table>
            </br>
            </br>
            <a href="http://127.0.0.1:8000/admin">Admin</a>
        
            <p>
                <a href="add/">Sartu plater berria.</a>
            </p>
    </div>  

    </body>
</html>
