{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "index.css" %}">
    </head>
    <body>
        <div>
            <h1>Platerak:</h1>
            <table border="1">
                {% for Pla in Plat %}  
                  <tr>
                  <td>{{ Pla.platera }}</td>
                  <td>{{ Pla.kopurua }}</td>
                  <td>{{ Pla.sukaldaria }}</td>
                  <td><a href="delete/{{ Pla.id }}"><img src="../../Irudiak/eliminar.png"></a></td>
                  <td><a href="update/{{ Pla.id }}">Aldatu</a></td>
                  <td><a href="saskia/{{ Pla.id }}">Saskia</a></td>
                  </tr>       
                {% endfor %}             
            </table>
            
            </br>
            <td>Plater guztien batura: {{p}} da.</td>
            </br>
            
            </br>
            </br>
            <a href="/admin">Admin</a>
        
            <p>
                <a href="add/">Sartu plater berria.</a>
            </p>

            </br>
            </br>
            <a href="langileak/">Langileak Kudeatu</a>

    </div>  

    </body>
</html>
