{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "index.css" %}">
    </head>
    <body>
        <h1>Platerak:</h1>
        
        <table style="width:10%">
            <tr>
                <th>Platera</th>
                <th>Kopurua</th>
            </tr>
            {% for Pla in Plat %}   
            <tr> 
                <td>{{ Pla.platera }}</td>
                <td>{{Pla.kopurua}}</td>
            </tr>
            {% endfor %}
            <tr>
                
            </tr>
        </table>

    </body>
</html>
