{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "index.css" %}">
    </head>
    <body>
        <div>
            <h1>Platerak:</h1>
            <table border="1">
                {% for Pla in Plat %}  
                  <tr>
                  <td>{{ Pla.platera }}</td>
                  <td>{{ Pla.kopurua }}</td>
                  </tr>       
                {% endfor %}             
            </table>
            
            </br>
            <td>Saskian dituzun plater guztien batura: {{p}}</td>
            </br>
            </br>
            <a href="/">Itzuli</a>
    </div>  

    </body>
</html>